[submodule ".registry"]
	path = .registry
	url = https://github.com/evolecolgroup/evolecolgroup.r-universe.dev
	branch = HEAD
[submodule "admixtools"]
	path = admixtools
	url = https://github.com/uqrmaie1/admixtools
	registered = false
[submodule "geoGraph"]
	path = geoGraph
	url = https://github.com/EvolEcolGroup/geograph
	branch = main
[submodule "pastclim"]
	path = pastclim
	url = https://github.com/EvolEcolGroup/pastclim
	branch = dev
[submodule "tidypopgen"]
	path = tidypopgen
	url = https://github.com/EvolEcolGroup/tidypopgen
	branch = main
[submodule "tidysdm"]
	path = tidysdm
	url = https://github.com/EvolEcolGroup/tidysdm
	branch = dev
